.head{

    color:rgba(255, 255, 255, 0.877);
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 35px;
    text-align: center;
    background-color:transparent;
    font-size: 25px;
    display: flex;
    margin: 2px;
    justify-content: center;
    background-image: url("https://acegif.com/wp-content/uploads/firework-1.gif");
    background-size: contain;
   

}
body{
   background-image: url("https://wallpapercave.com/wp/wp3991167.jpg");
   background-size: cover;
}

#container_1{
    border: 5px solid rgb(16, 253, 8);
    border-radius: 30px;
   
    
}

#container_2{
    border: 5px solid rgb(255, 18, 18);
    border-radius: 30px;
}

#container_3{
    border: 5px solid rgb(253, 152, 0);
    border-radius: 30px;
}
#container_4{
    border: 5px solid rgb(255, 7, 181);
    border-radius: 30px;
}

